@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@766&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    width: 15px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
}

.heading{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    align-items: center;
    padding: 23px 14px;
}

.heading img{
    width: 18px;
}

.library{
    min-height: 75vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(34, 34, 34);
}

/* .header > *{
    padding: 20px;
} */

.spotify-playlists{
    padding: 16px;
}

.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 60vh;
    overflow-y: scroll;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    cursor: pointer;
}

.card > * {
    padding-top: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    /* border: 1px solid #000; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 270px;
    right: 17px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.card:hover .play{
    opacity: 1;
    top: 168px;
}

.buttons > *{
    margin: 0 12px;
}

.signup-btn{
    /* font-weight: bolder; */
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    outline: none;
    border: none;
    cursor: pointer;
    /* font-size: 16px; */
}

.signup-btn:hover{
    font-size: 15px;
    color: white;
}

.login-btn{
    background-color: white;
    border-radius: 23px;
    border: none;
    color: black;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}

.login-btn:hover{
    /* padding: 10px 14px; */
    transform: scale(1.01);
    /* font-size: 14px; */
}

.playbar{
    position: fixed;
    bottom: 10px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 30px;
    /* width: 90%; */
    width: 70vw;
    padding: 12px;
    height: 40px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.songList{
    height: 400px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar{
    height: 2px;
    width: 95%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
}

.circle{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 8px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.songinfo, .songtime{
    color: black;
    padding: 0 12px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

/* 2:45:39 */