.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #222;
}